
@font-face {
    font-family: 'Sans';
    src: url('fonts/DMSans-VariableFont_opsz\,wght.ttf') format("truetype-variations");
    font-weight: 1 999;
  }
  
@font-face {
    font-family: 'Sans';
    src: url('fonts/DMSans-Italic-VariableFont_opsz\,wght.ttf') format("truetype-variations");
    font-style: italic;
    font-weight: 1 999;
  }

@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-VariableFont_wght.ttf') format("truetype-variations");
    font-weight: 1 999;
  }
  
@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-Italic-VariableFont_wght.ttf') format("truetype-variations");
    font-style: italic;
    font-weight: 1 999;
  }

@font-face {
    font-family: 'Mono';
    src: url('fonts/DMMono-Medium.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Mono';
    src: url('fonts/DMMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Mono';
    src: url('fonts/DMMono-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Mono';
    src: url('fonts/DMMono-MediumItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

.container{
    margin : 20px 0px;
    background-color: white;
    border-radius: 2px;
    box-shadow: 5px 5px;
    padding:1px;
}

#quizcontainer{
    position: relative;
    height: 650px;
}

.page{
    margin : 50px auto;
    max-width : 700px;
}

#wide-page {
    max-width: 1000px
}

.text_big{
    margin: 20px;
    font-weight: bold;
}

#startNote, .startNoteSmall {
    width: 90%;
    text-align: center;
}

#startNote{
    font-weight: bold;
    margin: 0px auto;
}

.startNoteSmall{
    margin: 30px auto;
}

#startNote, .text_big, #countryName, #announceScore {
    font-size: 24px;
}

.bold, .revealQuestion {
    font-weight: bold;
}

#games_flex{
    margin: 20px 10px;
    display: flex;
}

#games_flex > * {
    flex: 1;
    margin: 0px 10px;
}

#stations_flex{
    margin: 20px;
    display: flex;
}

#stations_flex p, #stations_flex div {
    margin: 0px;
}

#stations_flex > p {
    flex: 2;
    margin: 0px;
    margin-right: 1rem;
}

#stations_flex > .images {
    flex: 1;
}

img {
    width:100%;
    vertical-align: middle;
}

.game, .station_element {
    font-family: 'Mono';
    border : 0.15em solid #FF0299;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
}

.game{
    text-align: center;
    font-size: 0.85em;
    height: 100px;
    padding : 20px;
    display: flex;
    justify-content: center; /* Align horizontal */
    align-items: center; /* Align vertical */
}

.station_element{
    display: flex;
    font-size: 0.8em;
    justify-content: center; /* Align horizontal */
    align-items: center; /* Align vertical */
    height: 150px;
    background-size: cover;
    margin: 1px;
    margin-bottom:calc(10px + 0.1em);
}

.station_element.activated:hover{
    font-family: 'Mono';
    border : 0.25em solid #FF0299;
    margin: 0px;
    margin-bottom: 10px;
}

.game span {
    color: black;
}

.game.activated:hover{
    background-color: #FF0299;
}

#print_1_1{
    background-image: url("img/printout_1.png") ;
}

#print_1_2{
    background-image: url("img/handout_1.png") ;
}

#print_2_1{
    background-image: url("img/printout_2.png") ;
}

#print_2_2{
    background-image: url("img/handout_2.png") ;
}

#print_3_1{
    background-image: url("img/printout_3.png") ;
}

#print_3_2{
    background-image: url("img/handout_3.png") ;
}

#print_4_1{
    background-image: url("img/printout_4.png") ;
}

#print_4_2{
    background-image: url("img/handout_4.png") ;
}

.bg_pink {
    background-color: #FF0299;
    color:white;
    border: 5px solid #FF0299;
}

.deactivated {
    opacity: 0.5;
    font-size: 0.8em;
}

body {
    font-family: "Sans";
    margin-top: 2vh;
    background-color: #C675FF;
    font-size: 20px;
}

svg {
    width: 100%;
    height: 90vw;
    max-height: 900px;
}
path {
    fill: none; /* Make territories invisible initially */
    stroke: white;
    stroke-width: 0.5;
    cursor: pointer; /* Change cursor to pointer for better UX */
}
path.guess {
    fill:white;
    opacity: 0;
    stroke-width: 0;
}
path.background {
    fill: white;
    stroke: grey;
    stroke-width: 0.5;
}
path.correct {
    fill: #38fc35;
    opacity: 0.7;
    stroke-width: 10;
    stroke: rgba(56, 252, 53, 0.4);
    stroke-linejoin: round; /* Round the corners */
}
path.incorrect {
    fill: #FF7575;
    opacity: 0.7;
    stroke-width: 10;
    stroke: rgba(255, 117, 117, 0.3);
    stroke-linejoin: round; /* Round the corners */
}

.tooltip {
    font-family: "Mono";
    font-size: 0.85em;
    position: absolute;
    padding: 10px;
    background-color: white;
    border: 1px solid black;
    pointer-events: none;
    display: block;
    opacity: none;
    max-width: 150px;
}

#proj_info{
    font-family: "Mono";
    font-size: 0.85em;
    position: absolute;
    padding: 10px;
    background-color: white;
    border: 1px solid black;
    pointer-events: none;
    display: block;
    opacity: none;
    width: 300px;
}

h1 {
    margin: 36px 20px;
    font-family: "Raleway";
    font-size: 36px;
}

p {
    max-width: 1000px;
    margin: 20px;
    line-height: 1.5;
}

#countryName {
    text-align: center;
    margin-top: 1rem;
}

a {
    color:  #C675FF;
    text-decoration: none;
}

#lang, .section_mainpage, .category {
    font-family: 'Mono';
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
    color:  #C675FF;
}

#lang {
    text-align:center;
    margin-left: auto;
    margin-right: auto;
}

.category {
    display: inline-block;
    padding-bottom: 5px;
    margin-left: 20px;
    margin-top: 20px;
    border-bottom: 2px solid #C675FF;
}

#category {
    margin-left: 50px;
    margin-top: 50px;
}

.section_mainpage {
    display: inline-block;
    padding-bottom: 5px;
    margin-left: 20px;
    margin-top: 20px;
    border-bottom: 2px solid #C675FF;
}

#lang a {
    text-decoration: none;
    display: inline-block;
    padding-bottom: 2px;
}

#lang a:hover, #lang a.cur {
    padding-bottom: 0px;
    border-bottom: 2px solid #C675FF; 
}

hr {
    border:none;
    border-bottom: 2px solid black;
    margin: 0px 20px;
}

.projection{
    font-family: 'Mono';
    font-size: 0.85em;
    text-align: right;
}

select, select option {
    font-family: "Mono";
}

#socialmedia a {
    color: #C675FF;
    text-decoration: none;
}

#socialmedia a:hover {
    color: #C675FF;
    text-decoration: underline;
}

#logo {
    width: 30%;
    margin-left:20px;
}

#flexcontainer_end {
    width: 620px;
    display: flex;
    gap: 20px;
    margin: 50px 0px;
}

#flexcontainer > *, #flexcontainer_end > *{
    flex: 1;
}

#start{
    margin: 100px auto;
    width: 90%;
    max-width: 300px;
    font-family: 'Mono';
    font-size: 0.85em;
    border : 3px solid #FF0299;
    border-radius: 3px;
    font-weight: bold;
    text-align: center;
    height: 100px;
    cursor: pointer;
    display: flex;
    justify-content: center; /* Align horizontal */
    align-items: center; /* Align vertical */
}

#start:hover{
    background-color : #FF0299;
}

#question{
    width: calc(100% - 100px);
    min-height : 120px;
    margin-left: 50px;
    margin-top: 50px;
}

#question p {
    margin-left: 0px;
}

#choices{
    width : calc(100% - 100px + 20px);
    margin: 0px auto;
    display: flex;
}

.choice, .button_back{
    font-family: 'Mono';
    font-size: 0.85em;
    /* display: inline-block; */
    flex : 1;
    text-align: center;
    border : 2px solid #FF0299;
    border-radius: 3px;
    cursor: pointer;
    padding : 20px;
    margin: 0px 10px;
}

.choice:hover, .button_back:hover{
    font-family: 'Mono';
    padding: 18px;
    border : 4px solid #FF0299;
    font-weight: bold;
}

a.button_back {
    color: black;
}

#timer{
    position: absolute;
    height : 100px;
    width : 200px;
    bottom : 25px;
    left: 30px;
    text-align: center;
}
#counter{
    font-family: 'Mono';
    font-size: 2em;
}
#btimeGauge{
    width : 150px;
    height : 10px;
    border-radius: 10px;
    background-color: rgb(231, 231, 231);
    margin-left : 25px;
}
#timeGauge{
    height : 10px;
    border-radius: 10px;
    background-color: #C675FF;
    margin-top : -10px;
    margin-left : 25px;
}
#progress{
    width : 420px;
    position: absolute;
    bottom : 50px;
    right : 50px;
    padding:5px;
    text-align: right;
}
.prog{
    width : 15px;
    height : 15px;
    /* border: 1px solid #000; */
    background-color: rgb(231, 231, 231);
    display: inline-block;
    border-radius: 50%;
    margin-left : 3px;
    margin-right : 3px;
}
#scoreContainer{
    margin : 0px auto 50px;
    background-color: white;
    width : 700px;
    border-radius: 2px;
    box-shadow: 5px 5px;
    position: relative;
    padding: 50px 0px;
}
#scoreText{
    margin: 0px 50px;
}

#scoreText * {
    margin-left: 0px;
    margin-right: 0px;
}

.revealChoice, .revealCorrectLetter{
    font-family: 'Mono';
    font-size: 0.85em;
}

.revealCorrectLetter b {
    display: inline-block;
    padding: 3px 10px;
    margin-left: 5px !important;
    border: 2px solid #FF0299;
    border-radius: 15px;
}

.revealContext {
    font-size: 18px;
}

.revealContext a {
    color: black;
    text-decoration: underline;
    text-decoration-color: #FF0299;
}

.revealContext img {
    width: 100%;
}

@media only screen and (max-width: 699px) {
    #page{
        width : 90vw;
        height: auto;
        padding-bottom: 50px;
        margin : 50px auto;
    }
    
    .container{
        width : 90vw;
        margin : 20px auto;
        height: auto;
    }

    #games_flex,  #stations_flex {
        width: 90%;
        display: block;
        margin: 20px;
    }

    .station_element{
        text-align: center;
        padding: 20px;
        margin: 20px 0px;
    }

    #stations_flex > p {
        margin-right: 0px;
    }

    #games_flex > * {
        flex: 1;
        margin: 10px 0px;
    }
    #logo {
        width: 50%;
        margin-left:20px;
    }

    #quizcontainer{
        height: auto;
    }

    #category {
        padding-bottom: 5px;
        margin-left: 20px;
        margin-top: 30px;
        border-bottom: 2px solid #C675FF;
        max-width: 85%;
        }

    #question {
        margin-top: 1.5rem;
        min-height: 0px;
    }
    
    #question, #choices{
        width: 90%;
        margin-left: 20px;
    }
    
    #question p{
        margin : 0;
    }
    #choices, #flexcontainer_end{
        position: static;
        display: block;
    }

    #flexcontainer_end{
        width: 100%;
    }
    .choice, .button_back{
        width: 80%;
        display: block;
        text-align: center;
        border : 2px solid #FF0299;
        cursor: pointer;
        padding: 20px;
        margin: 20px 0px;
    }
    .game {
        font-size: 0.85em;
        height: auto;
        margin: 20px 0px;
    }
   
    .choice:hover{
        border : 2px solid #FF0299;
        font-weight: normal;
    }
    #timer{
        position: static;
        height : 100px;
        width : 200px;
        margin: 0px auto;
    }
    #progress{
        width : 80vw;
        position: static;
        padding:5px;
        margin-bottom:10px; 
    }
    #start{
        margin: 30px auto;
    }
    #scoreContainer{
        background-color: none;
        box-shadow: none;
        margin: 0px;
        padding: 0px;
        width: 100%;
    }
    #scoreText{
        margin: 20px;
    }
    #proj_info{
        width: 75vw;
    }
}